<div class="container">
	<nav class="nav" id="nav">
		<svg id="bowSVG" xmlns="http://www.w3.org/2000/svg" overflow="visible">
		  <path id="bowPATH" d="M 0 0 Q 0 240 0 480" stroke="#979797" stroke-width="2" fill="transparent"/>
		  <circle id="circle" cx="10" cy="10" r="2" fill="red"/>
		</svg>
		<ul class="menu" id="menu">
			<li class="menu__item"><a href="" class="menu__link">Github</a></li>
			<li class="menu__item"><a href="" class="menu__link">Codepen</a></li>
			<li class="menu__item"><a href="" class="menu__link">Portfolio</a></li>
			<li class="menu__item"><a href="" class="menu__link">Contact</a></li>
		</ul>
	</nav>
</div>